header {
  background-color: $color-primary;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7.4rem;

  &__logo {
    flex-grow: 1;
    width: 6.1rem;
    margin-right: 1.92rem;
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 2;

    li {
      list-style: none;
      font-weight: 400;
      font-size: 1.6rem;
      margin-right: 5rem;
      a {
        color: $color-font-primary;
        text-decoration: none;
      }
      &:first-child {
        margin-right: 3rem;
        padding: 1rem 2.5rem;
        @include white-border;
      }
      &:last-child {
        margin-right: 0;
        margin-left: -1rem;
        padding: 1.2rem 2.75rem;
        @include linear-button;
      }
    }
  }
}
main {
  width: 100%;
  height: 101.6rem;
  margin: 0 auto;
  background: radial-gradient(
    65.51% 65.51% at 50% 19.09%,
    #221c3f 0%,
    #07041c 100%
  );
  padding-top: 0.1rem;
}
.showcase {
  margin-top: 5.1rem;
  background: linear-gradient(180deg, #14102b 0%, #282349 100%);
  height: 38.4rem;
  border-radius: 0.8rem;
  display: grid;
  grid-template-areas:
    "content svg"
    "content svg";
  grid-template-columns: repeat(2, 1fr);
  &__left {
    grid-area: content;
    width: 56.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.9rem 6rem;
  }
  &__title {
    font-weight: 800;
    font-size: 4rem;
    line-height: 6rem;
  }
  &__cta {
    @include linear-button;
    padding: 0.9rem 3.9rem;
    font-size: 1.6rem !important;
    margin-top: 0.7rem;
  }
  &__content {
    margin-top: -1rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: 0.5px;
  }

  &__logos {
    margin-top: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 4rem;
      margin-right: 2.1rem;
      height: 2.5rem;
      &:nth-child(1) {
        width: 7rem;

        img {
          width: 40px;
          transform: translate(42%, 50%);
        }
      }
      &:nth-child(2) {
        width: 11.4rem;
        img {
          width: 10rem;
          transform: translate(9%, 32%);
        }
      }
      &:nth-child(3) {
        width: 6.8rem;
        img {
          width: 5rem;
          transform: translate(18%, 22%);
        }
      }
    }
  }

  &__right {
    grid-area: svg;
    img {
      margin-top: -3.2rem;
      margin-right: 1.7rem;
      width: 46rem;
    }
  }
}
.bonus {
  position: relative;
  margin-top: 1rem;
  display: grid;
  grid-template-areas:
    "svg content content"
    "svg content content";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, minmax(0px, auto));
  &__left {
    grid-area: svg;
    img {
      width: 40.9rem;
    }
    &__title {
      font-size: 3.5rem;
      line-height: 40px;
    }
  }
  &__right {
    grid-area: content;
    padding: 4rem;
    &__img {
      grid-area: img;
      position: absolute;
      top: -6rem;
      right: -12rem;
    }
    &__content {
      margin-left: 11.2rem;
      max-width: 38.2rem;
      h2 {
        font-size: 3.5rem;
        font-weight: 800;
        line-height: 4rem;
      }
      span {
        font-weight: 400;
        font-size: 2.5rem;
        display: block;
      }
      &__coin {
        margin-top: 1.2rem;
      }
      &__cta {
        @include linear-button;
        margin-top: -1rem;
        padding: 0.9rem 4.5rem;
      }
    }
  }
}
